[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
