{% if page.comments %}
<div id="comments" class="disqus">
    <div class="container">
        <h3><i class="icon icon-comments-o"></i>Comments</h3>
        <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
    </div>
</div>

<script type="text/javascript">
var duoshuoQuery = {short_name:"okuer"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->



{% endif %}
