
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">
        <span style="color: #3369e8;">O</span>
        <span style="color: #d50f25;">K</span>
        <span style="color: #eeb211;">U</span>
        <span style="color: #3369e8;">E</span>
        <span style="color: #009925;">R</span>
        <span style="color: #888888">2021</span>
        
    </a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ "/links" | prepend: site.baseurl }}">Links</a></li>
      <li><a href="https://github.com/xxlv">Github</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</nav>
